/* styles.css */


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background: url(./picture1.jpg);
    background-size: cover;
    background-position: center top;
    color: white;
    background-attachment: fixed;
}


button {
    margin: 2%
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid red;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}



#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerHomePage {
    color: orange
}

#mainTextBorder,
#secondTextBorder,
#hourText {
    border: 3px solid grey;
    border-radius: 25px;
    padding: 5%;
    background-color: black;
    width: 50%;
    font-family: Arial;
    font-size: 1.5vw;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menuField {
    border: 3px solid grey;
    border-radius: 25px;
    padding: 2%;
    background-color: black;
    width: 50%;
    font-family: Arial;
    font-size: 1.5vw;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}