/* styles.css */


body {
    background: url(./picture1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white

}

button {
    margin: 2%
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerHomePage {
    color:orange
}

#mainTextBorder, #secondTextBorder {
    border: 3px solid grey;
    border-radius: 25px;
    padding: 15px;
    background-color: black;
    width:50%;
    font-family:Arial;
    font-size:1.5vw;
    margin: 2%

}